version: "3.8"

services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: crmuser
      POSTGRES_PASSWORD: changeme
      POSTGRES_DB: crm
    volumes:
      - pgdata:/var/lib/postgresql/data


  redis:
    image: redis:7
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: /app/entrypoint.sh gunicorn crm.wsgi:application --bind 0.0.0.0:8000 --reload --workers 3
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
#      db:
#        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app:cached
    restart: unless-stopped

  worker:
    build: .
    command: /app/entrypoint.sh celery -A crm worker --loglevel=info --concurrency=2
    env_file:
      - .env
    depends_on:
#      db:
#        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app:cached
    restart: unless-stopped

  beat:
    build: .
    command: /app/entrypoint.sh celery -A crm beat --loglevel=info
    env_file:
      - .env
    depends_on:
#      db:
#        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - .:/app:cached
    restart: unless-stopped

volumes:
  pgdata:
  redisdata:
